.mainQuestionBlock {
  border-radius: 8px;
  padding: 10px;
  margin-top: 15px;
  box-shadow: 5px 2px 15px 0 #9ba09b;
  // background-color: rgb(193, 216, 189);
  background-color: #f7f7f7;
}
.questionTitle {
  padding: 10px;
  // color: #068f4e;
  color: #00572e;
}
.border{
  // border: 1px solid lightgray;
  border: 1px solid rgb(44, 61, 60);
}
.answers {
  // display: flex;  // checking
  .answer {
    // border-radius: 8px;
    border-bottom: 1px dashed rgb(185, 185, 185);
    // border: 0.5px solid r/gb(93, 117, 116);
    transition: all 0.5s;
    padding: 10px;
    &:hover {
      // background-color: rgb(206, 226, 195);
      background-color: rgba(255, 174, 0, 0.644);
      // background-color: rgb(146, 194, 187);
      border-radius: 8px;
      // border-left: 3px outset #51dd25;
      // padding-left: 10px;
      cursor: pointer;
      color: black;
      transition: all 0.5s;
    }
    label {
      &:hover{
        cursor: pointer;
      }
    }
  }
}
// .border{
//   border: 1px solid rgb(44, 61, 60);
// }

.timer{
  font-size: 20px;
  position: fixed;
  top: 10%;
  right: 1.5%;
  color: green;
}
.finishButton{
  position: fixed;
  bottom: 1%;
  right: 1%;
}
.goBackButton{
  position: fixed;
  bottom: 1%;
  right: 5%;
}
