.wrapper{
  padding-top: 15px;
  padding-left: 8px;
}
.error{
    color: red;
    font-size: 11px;
}
.margin{
    margin-bottom: 0.5em;
}
.displayFlex{
    display: flex;
    flex-direction: column;
}

.questionsAcordeon{
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    width: 100%;
    min-height: 57px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
}
.testsAcordeon{
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    width: 100%;
    min-height: 57px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
}
.panel {
    width: 100%;
    margin-top: 12px;
    background-color: white;
    display: none;
    max-height: 700px;
    overflow-y: scroll;
}
.myButton{
    flex: 1; 
    text-align: left; 
    background-color: white; 
    border: none;
    color: #007bff;
}
.myButton:focus{
    outline: none;
    border: none;
  }

  ul{
    li{
        a:hover{
            cursor: pointer;
        }
    }
}
.content{
  max-height: 500px;
  overflow-y: scroll;
}


// filter
.dropdownButton{
  height: 31px;
  padding: 3px 12px;
  background-color: white;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 4px;
  outline: none;
  color: #585b5f;
  text-align: left;
}
.dropdownButton:focus{
  border: 1px solid #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.departmentsWrapperDiv{
  width: 100%; 
  padding: 12px; 
  border: 1px solid rgb(134, 134, 134); 
  border-radius: 0; 
  overflow-y: scroll;
}